{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=form, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/output.css" %}">
</head>
<body>
    <div class = "w-1/2 mx-auto mt-8">
       <form method = "POST">
        <input type="text" class = "border border-gray-500 w-full rounded-lg shadow-sm">
        {% csrf_token %}
        {{form.as_p}}
        <button type = "submit"  class = "border-2 border-box-blue mt-3 rounded-lg bg-green-600">Submit</button>
       </form> 
    </div>
</body>
</html>