{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/output.css" %}%}">
</head>
<body>
    <h1>Welcome to authentication system</h1>
    <div>
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class = "px-2 py-2 {%if message.tags == 'success'%}bg-green-600{%endif%}">{{message}}</div>
                {% endfor %}
            {% endif %}
        </div>
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                {{error}}
            {% endfor %}
        {% endif %}
        <form action="" method = "POST">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    <label for="field.id_for-label">{{field.label}}</label>
                    {{field}}
                    {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </p>
            {% endfor %}
            <button type = 'submit'>Sign up</button>
        </form>
    </div>
</body>
</html>